In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df=pd.read_csv('../data/MachineLearningRating_v3.txt', sep='|')

C:\Users\hp\AppData\Local\Temp\ipykernel_18068\4040101789.py:1: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('../data/MachineLearningRating_v3.txt', sep='|')

In [6]:
df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [9]:
df['TransactionMonth']=pd.to_datetime(df['TransactionMonth'])

In [11]:
numeric_cols=['TotalPremium','TotalClaims','CustomValueEstimate','CapitalOutstanding']
for col in numeric_cols:
    df[col]=pd.to_numeric(df[col],errors='coerce')

In [15]:
df['TotalClaims'] = df['TotalClaims'].apply(lambda x: x if x >= 0 else np.nan)
df['TotalPremium'] = df['TotalPremium'].apply(lambda x: x if x > 0 else np.nan)

In [16]:
df['LossRatio'] = np.where(
    df['TotalPremium'] > 0,
    df['TotalClaims'] / df['TotalPremium'],
    np.nan
)

In [17]:
# Identify rows with potential issues
issues = df[
    (df['TotalClaims'].isna()) |
    (df['TotalPremium'].isna()) |
    (df['LossRatio'].isna()) |
    (df['LossRatio'] > 3) 
]

print(f"Number of problematic rows: {len(issues)}")
issues.head()

Number of problematic rows: 384493

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims,LossRatio
2,145249,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,NaN,0.0,NaN
4,145255,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,NaN,0.0,NaN
8,145247,12827,2015-08-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,NaN,0.0,NaN
11,145245,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Passenger Liability,Passenger Liability,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,NaN,0.0,NaN
63,46217,4044,2014-09-01,False,,Close Corporation,Mr,English,First National Bank,Current account,...,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,NaN,0.0,NaN

In [21]:
df_valid = df[df['LossRatio'].notna()]

In [22]:
print(df_valid['LossRatio'].describe())

count    618174.000000
mean          0.350095
std           9.288613
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        2553.600000
Name: LossRatio, dtype: float64

In [23]:
df_valid.describe()

,UnderwrittenCoverID,PolicyID,TransactionMonth,PostalCode,mmcode,RegistrationYear,Cylinders,cubiccapacity,kilowatts,NumberOfDoors,CustomValueEstimate,CapitalOutstanding,NumberOfVehiclesInFleet,SumInsured,CalculatedPremiumPerTerm,TotalPremium,TotalClaims,LossRatio
count,618174.000000,618174.000000,618174,618174.000000,6.179560e+05,618174.000000,617956.000000,617956.000000,617956.000000,617956.000000,1.561000e+05,617952.000000,0.0,6.181740e+05,618174.000000,618174.000000,618174.000000,618174.000000
mean,115066.592679,8728.583376,2015-03-05 19:07:54.821651968,2971.102169,5.535211e+07,2010.226244,4.044599,2487.076590,97.650783,4.013451,2.312563e+05,47997.362472,NaN,6.098280e+05,118.534206,100.201396,100.442212,0.350095
min,13.000000,14.000000,2013-10-01 00:00:00,1.000000,4.041640e+06,1987.000000,0.000000,0.000000,0.000000,0.000000,2.000000e+04,-2.000000,NaN,1.000000e-02,0.000200,0.000011,0.000000,0.000000
25%,71591.000000,5184.000000,2015-01-01 00:00:00,742.000000,6.005692e+07,2008.000000,4.000000,2237.000000,75.000000,4.000000,1.356000e+05,0.000000,NaN,5.000000e+03,3.255100,2.631316,0.000000,0.000000
50%,111176.000000,7444.000000,2015-04-01 00:00:00,2000.000000,6.005842e+07,2011.000000,4.000000,2694.000000,111.000000,4.000000,2.200000e+05,0.000000,NaN,7.500000e+03,8.436900,7.280746,0.000000,0.000000
75%,146853.000000,11988.000000,2015-06-01 00:00:00,4126.000000,6.005842e+07,2013.000000,4.000000,2694.000000,111.000000,4.000000,2.800000e+05,0.000000,NaN,2.505000e+05,90.000000,78.947368,0.000000,0.000000
max,301175.000000,23246.000000,2015-08-01 00:00:00,9870.000000,6.506535e+07,2015.000000,10.000000,12880.000000,309.000000,6.000000,2.655000e+07,700000.000000,NaN,1.263620e+07,74422.167900,65282.603421,393092.105263,2553.600000
std,64839.331221,5437.195158,NaN,2608.460587,1.294132e+07,3.270483,0.288604,394.827535,19.023018,0.452314,6.674016e+05,107535.366715,NaN,1.515213e+06,344.709285,286.235103,2989.936938,9.288613

In [24]:
df.describe(include="object")

,Citizenship,LegalType,Title,Language,Bank,AccountType,MaritalStatus,Gender,Country,Province,...,CrossBorder,TermFrequency,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType
count,1000098,1000098,1000098,1000098,854137,959866,991839,990562,1000098,1000098,...,698,1000098,1000098,1000098,1000098,1000098,1000098,1000098,1000098,1000098
unique,4,6,5,1,11,3,3,3,1,9,...,1,2,13,28,22,14,5,4,1,1
top,,Individual,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,...,No,Monthly,No excess,Passenger Liability,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant
freq,895210,911929,933555,1000098,260811,597938,986208,940990,1000098,393865,...,698,999554,791235,104158,104183,824124,828125,915028,1000098,1000098

In [25]:
# Drop columns with only 1 unique value
cols_to_drop = ['Language', 'Country']
df = df.drop(columns=cols_to_drop)